<!DOCTYPE html>
<html  class=" flex-col h-[101vh]">
     <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>{% block title %}Sound blog{% endblock %}</title>
          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          {% block stylesheets %} {% endblock %}
          {% block javascripts %} 
               {% block importmap %}{{ importmap("app") }}{% endblock %}
          {% endblock %}
     </head>
     <body class=" flex flex-col h-fit min-h-full">
          {% include "header.html.twig" %}
          <main class=" flex-grow bg-zinc-900 h-fit">
              {% block body %}{% endblock %}
          </main>
          {% include "footer.html.twig" %}
     </body>
</html>
