{% extends 'base.html.twig' %}

{% block title %}Sound blog{% endblock %}

{% block body %}

  <section class=" min-h-full h-fit flex flex-row flex-wrap justify-center gap-5">

    <h1 class="text-5xl font-bold w-full">Access denied</h1>

  </section>

{% endblock %}
